<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <h1>HOME</h1>
  <a href="/">Home</a>
  <a href="{{ route('about') }}">About</a>
  <a href="{{ route('contact') }}">Contact</a>

  @set('name','Halim Dirgantara')

  <p>{{ name }}</p>
  <p>@{{ name }}</p>

  {{ '<p>This will be escaped</p>' }}
  {{{ '<p>This will not be escaped</p>' }}}
</body>
</html>
